<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Document</title>
    <style>
         @import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
         html {
  scroll-behavior: smooth;
}
        *{
            margin: 0;
            padding: 0;

        }
        body{
            font-family: 'Titillium Web', sans-serif;
        }
        header{
            box-shadow: 1px 3px 18px rgb(0,0,0,0.2);
            display: block;
            position: -webkit-sticky;
            position: sticky;
            background-color: #6DA9E4;
            width:100%;
            top: 0;
        }
        nav{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        nav .link{
            margin: 1%;
            padding: 2px;
            background-color: #AFD3E2;;
            padding: 9px;
            border-radius: 5px;
            box-shadow: 1px 3px 18px rgb(0,0,0,0.2);
            transition: all 0.2s ease-in-out;
        }
        nav .link a{
            transition: all 0.2s ease-in-out;
        }
        nav .link:hover a{
            cursor:pointer;
            color: whitesmoke;
        }
        nav .l1 a{
            color: whitesmoke;
        }
        nav .l1{
            background-color: #146C94;
        }
        nav .link:hover{
            cursor:pointer;
            background-color: #146C94;
            box-shadow: 1px 3px 18px rgb(0,0,0,0.8);
        }
        nav .link a{
            text-decoration: none;
        }
        .content{
            margin: 1%;
            margin-top:-0.5%;
            padding: 10px;
            background-color: #A5C0DD;
            border-radius: 10px;
            padding-bottom: 3px;
        }
        .container{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .head{
            flex:1;
            margin:2%;
            padding:5px;

        }
        .head2{
            margin-right:3%;
        }
        nav .l6{
            margin-left:42%;
            background-color: red;
        }
        nav .l6 a{
            color: white;
        }
        nav .l6:hover{
            background-color: red;
            box-shadow: 1px 3px 18px rgb(0,0,0,0.8);
        }
        .fixed{
            background-color: #f0f2f5;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        .box{
            height: 55vh;
            background-color: #f0f2f5;
            flex:1;
            margin: 2%;
            padding: 10px;
            box-shadow: 1px 3px 18px rgb(0,0,0,0.2);
            border-radius: 10px;
        }
        .card{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .card a{
            text-decoration: none;
            padding: 5px;
            margin: 2%;
            border-radius: 5px;
        }
        .card a:hover{
            background-color: aqua;
        }
        h2:hover{
            text-decoration: underline blue;
        }
        .card a{
            width:20%;
        }
        .card:hover a{
            color: black;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <div class="head head1"><span><h2 style="font-weight: 700;margin:0%;background-color:#6DA9E4;border-radius: 10px;font-family: 'Titillium Web', sans-serif;display: block;">Anil Neeukonda Institute of Technology and Science</h2><h4 style="font-weight: 700;margin:0%;background-color:#6DA9E4;border-radius: 10px;font-family: 'Titillium Web', sans-serif;display: block;margin-left: 5%;">(Permanent Affiliation by Andhra University&Approved by AICTE)</h4></span></div>
            <div class="head head2"><h1 style="font-weight: 700;margin:0%;background-color:#6DA9E4;border-radius: 10px;font-family: 'Titillium Web', sans-serif;margin-left:14%;color:#ECF9FF;">Student Attendance Management</h1></div>
        </div>
        <div class="fixed">
            <nav>
                <div class="link l1"><a href="/faculty_dash">Home</a></div>
                <div class="link l2"><a href="/faculty_attendance">Attendance</a></div>
                <div class="link l3"><a href="/faculty_class">Class</a></div>
                <div class="link l4"><p>Welcome: <b><%=sfname%></b></p></div>
                <div class="link l5"><p>Your FID: <b><%=sfid%></b></p></div>
                <div class="link l6"><a href="/logout">Logout</a></div>
            </nav>
        </div>
    </header>
    <div class="temp" style="min-height: 5vh;width: 100%;"></div>
    <div class="content">
        <div class="container">
            <div class="box box1">
                <h2 align="center">Get Info By RollNo</h2><img src="5433790.jpg" width="100%" alt="other">
            <div class="card">
                <a href="/faculty_infobyroll">Go</a>
            </div>
            </div>
            <div class="box box2"><h2 align="center">Get Info By Date</h2><img src="2650393.jpg" width="100%" alt="other">
                <div class="card">
                    <a href="/faculty_infobydate">Go</a>
                </div>
            </div>
            <div class="box box3"><h2 align="center">Get Info By Class</h2><img style="height:73%;" src="sample.jpg" width="100%" alt="other">
                <div class="card">
                    <a href="/faculty_infobyclass">Go</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const sr1 = ScrollReveal({
        origin: 'bottom',
        distance: '80px',
        duration: 2000
    });
    sr1.reveal('.box',{delay:1000});
        </script>
</html>